
<h1>This Services page of Emerson controller</h1>

@for (int counter = 1; counter <= 5; counter++)
{

<h3>  Model data is @ViewBag.MyMessage</h3>

}


<a href="~/Test.pdf">Download pdf file</a>
<img src="~/images/veggie.jpg" />

